*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color1: #131921;
    --color2: #232F3E;
}
                         /* navbar */
.first-nav{
    min-height: 60px;
    max-height: 80px;
    background-color: var(--color1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
                        /* box1 */
.nav-logo{
    height: 40px;
    width: 120px;
    background-image: url(./images/amazon_logo.png);
    background-size: cover;
    background-position: center;
}
.nav-logo:hover{
    border: 1px solid white;
    cursor: pointer;
} 
                      /* box2 */
.nav-address{
    height: 40px;
    min-width: 100px;
    text-align: center;
}
.nav-text{
   font-size: 12px;
   color: #ccc;
   font-weight: 600;
}
.add-icon{
    display: flex;
    gap: 5px;
    color: white;
    position: relative;
    justify-content: center;
    bottom: 20px;
}

.nav-address:hover{
    border: 1px solid white;
    cursor: pointer;
}
                         /* box3 */
.nav-search{
    height: auto;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
}
.nav-dropdown{
    height: 40px;
    width: 60px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color:#ccc;
    outline: none;
    font-size: 14px;
}
.nav-input{
    height: 40px;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    outline: none;
}
.input-icon{
    height: 40px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEBD69;
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-search:focus-within{
    border: 2px solid #FF9900;
}
/* box4 */
.nav-dropdown1{
    height: 40px;
    width: 60px;
    text-align: center;
    background-color:#131921;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.nav-dropdown1:hover{
    border: 1px solid white;
    cursor: pointer;
}
/* box5 */
.nav-sign{
    height: 40px;
    min-width: 120px;
    padding: 5px;
    cursor: pointer;
}
.nav-sign >p{
    font-size: 12px;
}
.nav-sign > h5{
    position: relative;
    bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
.nav-sign:hover{
    border: 1px solid white;
}
/* box6 */
.nav-sign1{
    height: 40px;
    min-width: 80px;
    padding: 5px;
    cursor: pointer;
}
.nav-sign1 >p{
    font-size: 12px;
}
.nav-sign1 > h5{
    position: relative;
    bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
.nav-sign1:hover{
    border: 1px solid white;
}
/* box7 */
.nav-cart{
    height: 40px;
    width: 80px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.nav-cart > p {
    position: relative;
    top: 10px;
}
.nav-icon1{
    font-size: 25px;
}
.nav-cart:hover{
    border: 1px solid #fff;
    cursor: pointer;
}

/* second-nav */

.second-nav{
    min-height: 40px;
    background-color: var(--color2);
    color: white;  
    display: flex; 
    padding: 0px 0px 0px 10px;
   
}
.second-nav1{
    min-height: 40px;
    background-color: #232F3E;
    color: white;
    /* display: flex; */
   
}
.second-nav1 > ul{
    display: flex;
    gap:20px;
}
.second-nav1 > ul > li{
    list-style-type: none;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 600;
}
/* section2 content */
.section2{
    height: auto;
    background-color: rgb(234, 239, 241);
}
.content-row{
    position: relative;
}
.content-box{
    height: auto;
    position: absolute;
    bottom: 200px;
    margin: auto;
}
.box-distance{
    height:400px;
    width: 99%;
    background-color: white;
    gap: 10px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.box-distance>h5{
    padding: 15px;
    font-weight: 700;
}
.img1{
    height: 100px;
    width: 45%;
    position: relative;
    left: 5px;
    overflow: hidden;
}
.img1 > p{
    padding: 10px;
    font-size: 12px;
}
.box-distance > a {
    font-size: 14px;
    padding: 10px;
}
.box-img{
    height: 250px;
    width: 95%;
    position: relative;
    left: 5px;

}

/* seller-products */

.box-distance1{
    height:auto;
    width: 99%;
    background-color: white;
    gap: 15px;
    margin-bottom: 50px;
}
.box-distance1 > h4{
    padding: 20px;
    font-weight: 600;
}
.box-distance1 > a > img{
    max-height: 170px;
    padding: 10px 0px 30px 40px;
}

/* footer */

.footer-containerfluid1{
    min-height: 60px;
    background-color: var(--color2);
}
.footer-containerfluid1 > .container > a {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    text-decoration-line: none;
}
.footer-containerfluid2{
    height: auto;
    background-color: var(--color1);
    padding-bottom: 20px;
}
.footer-column{
    height: auto;
}
.footer-distance{
    height: auto;
    width: 98%;
    margin-top: 50px;
}
.footer-distance > h5{
    color: white;
    font-weight: 500;
    padding: 10px;
}
.footer-distance > ul{
    list-style-type: none;
    color: #ccc;
    line-height: 30px;
    font-size: 14px;
    padding: 10px;
}
/* footer bottom */
.bottom{
    height: auto;
}
.footer-line{
    height: 1px;
    background-color: #666;
    margin-top: 60px;
}
.footer-bottom{
    height: auto;
    margin: auto;
    margin-block: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer-bottom > img{
    height: 70px;
    padding-top: 5px;
}
.english-footer{
    height: 40px;
    min-width: 120;
    border: 1px solid #666;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    gap: 5px;
    color: #ccc;
}
.english-footer > i{
    padding-top: 2px;
}
.english-footer > h6{
    font-size: 14px;
    padding-top: 2px;
}
.dollar-footer{
    height: 40px;
    width: auto;
    border: 1px solid #666;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 8px;
    gap: 5px;
    color: #ccc;
    border-radius: 4px;
}
.dollar-footer >h5{
    font-size: 16px;
    color: #ccc;
}
.dollar-footer >h6{
    font-size: 14px;
    padding-top: 2px;
}
.unitedstate-footer{
    height: 40px;
    min-width: 120px;
    border: 1px solid #666;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 8px;
    gap: 5px;
    color: #ccc;
    border-radius: 4px;
}
.unitedstate-footer >h5{
    font-size: 16px;
    color: #ccc;
}
.unitedstate-footer >h6{
    font-size: 14px;
    padding-top: 2px;
}

@media screen and (max-width:1024px){
    .nav-sign >p{
        font-size: 10px;
    }
    .nav-sign > h5{
        font-size: 12px;
    }
    .nav-sign1 >p{
        font-size: 10px;
    }
    .nav-sign1 > h5{
        font-size: 12px;
    }
    .hidden-in-mobile1{
        display: none;
    }
}

@media screen and (max-width:720px){
    .hidden-in-mobile{
        display: none;
    }
    .nav-search{
       width: 60%;
    }
    .second-nav{
        justify-content: center;
    }
}
@media screen and (max-width:510px){
    .second-nav{
        justify-content: center;
    }
    .second-nav1 > ul{
        display: flex;
        flex-wrap: wrap;
        gap:10px;
    }
    .second-nav1 > ul > li{
        list-style-type: none;
        padding-block: 8px;
        font-size: 12px;
        font-weight: 600;
    }
    .box-distance>h5{
        display: block;
    }
}